html{
  text-align: center;
}
h1 {
  font-family: hevetoca;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
header {
  background-image: url("../../resources/images/the-flatiron-building.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  font-family: helvetica;
  font-size: 18px;
  color: white;
}
h2{
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
}
h4{
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../../resources/images/the-flatiron-building.png");
  background-position: center;
}
p{
  font-family: helvetica;
  font-size: 14px;
}
footer{
  font-family: helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
